.dropdown 
{
    position: relative;
    display: inline-block;
    background-color: #ff00ff;
    border-radius: 30px;
}
  
.dropdown-button 
{
    padding: 10px 20px;
    background-color: #ff00ff;
    border: 2px solid #ff00ff;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
    border-radius: 30px;
}

.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #ff00ff;
    z-index: 1;
    border-radius: 30px;
}

.dropdown-content a 
{
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content
{
    display: block;
}

.dropdown-button:hover 
{
    background-color: #fff;
    color: #000;
    cursor: pointer;
    text-shadow: 
        0 0 20px #fff, 
        0 0 10px #fff, 
        0 0 30px #fff, 
        0 0 40px #ff00ff, 
        0 0 70px #ff00ff, 
        0 0 80px #ff00ff, 
        0 0 100px #ff00ff, 
        0 0 150px #ff00ff;
    box-shadow: 
        0 0 20px 2px #ff00ff;
}

/* imports 'Open Sans', sans-serfi from https://fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body
{
font-family: 'Open Sans', sans-serif;
}