#loading-bar 
{
    width: 100%;
    height: 5px;
    overflow: hidden;
  }
  
  .loading-bar-inner 
  {
    width: 0%;
    height: 100%;
    background-color: #ff00ff; /* magenta */
    animation: loading-bar 2s linear infinite;
    box-shadow: 0px 0px 10px #ff00ff;
  }
  
  @keyframes loading-bar 
  {
    0% { width: 0%; }
    100% { width: 100%; }
  }
  