#sidebar 
{
    width: 200px;
    height: 100%;
    background-color: #cacaca;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    transition: left 0.5s;
    box-shadow: 0 0 10px #cacaca, 0 0 20px #cacaca, 0 0 30px #cacaca, 0 0 40px #cacaca;
}
  
#sidebar-header 
{
    text-align: center;
}
  
#sidebar-links, #sidebar-footer 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
#sidebar-footer 
{
    position: absolute;
    bottom: 3em;
    width: 100%;
}

      /* imports 'Open Sans', sans-serfi from https://fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body
{
    font-family: 'Open Sans', sans-serif;
}
  